<!doctype html>
<html ng-app='LunchCheck' lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Lunch Checker</title>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div ng-controller='LunchCheckController' class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="dishes">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{results}}
         </div>
   </div>
<script></script>
</body>
</html>
